.settings {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.settingsTitle {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: teal;
}

.settingsDeleteTitle {
  font-size: 25px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 5px;
  padding: 10px;
  border: none;
  background-color: #9de7e4;
  border-radius: 15px;
}

.settingsDeleteTitle:hover {
  background-color: white;
  color: red;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  color: #adb5bd;
}

input {
  color: #adb5bd;
  margin-top: 10px;
  height: 30px;
  border: none;
}

.changeUsernameBtn {
  margin-left: 300px;
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 5px;
}

.profilePicButton {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 5px;
  margin-left: 150px;
}
